.left {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #3eb9e6;
}

.comp-list {
    position: relative;
}

.create-btn {
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-size: 20px;
}

.create-btn button{
    border-radius: 5px;
}

.comp {
    position: relative;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid #b59e9e;
}

.comp span {
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
}

.comp span:first-child {
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comp span:last-child {
    float: right;
    font-size: 16px;
    color: red;
}

.create-modal {
    height: 100%;
}

.create-modal .modal-dialog {
    height: 100%;
}

.create-modal .modal-dialog .modal-content {
    margin-top: 200px;
    height: 400px;
}

.create-page h3 {
    position: absolute;
    width: 70%;
    line-height: 34px;
    margin: auto;
    text-align: center;
}

.create-page .pull-right button {
    z-index: 2;
    margin: 0 5px;
}

.create-page label {
    margin: 0 10px;
}

.select-type {
    margin: 5px auto;
}

.input-name input {
    display: inline-block;
    width: calc(100% - 80px);
}

.link-input input {
    display: inline-block;
    width: calc(100% - 90px);
}

.link-input select {
    display: inline-block;
    width: calc(100% - 90px);
}

.img-input input {
    display: inline-block;
    width: calc(100% - 90px);
}

.img-input .upload-img {
    position: relative;
}

.img-input .upload-img img {
    width: 100px;
    height: 100px;
}

/* .img-input .upload-img .uploadBackGround {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url(../img/upload.jpg);
} */

.img-input .upload-img input {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 0;
    left: 80px;
    top: 0;
}


.delete-modal {
    height: 100%;
}

.delete-modal .modal-dialog {
    height: 100%;
    width: 400px;
}

.delete-modal .modal-dialog .modal-content {
    margin-top: 200px;
    height: 100px;
    text-align: center;
}

.delete-modal .modal-dialog .modal-content button {
   margin: 0 10px;
}

.delete-modal .modal-dialog .modal-content .modal-header {
    padding: 5px;
    height: 40px;
}

.delete-modal .modal-dialog .modal-content .modal-header h5 {
   width: 100%;
   text-align: center;
}