.right {
    float: right;
    width: 200px;
    height: 100%;
    background-color: #3eb9e6;
}

.export-btn {
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 20px;
}

.export-btn button{
    border-radius: 5px;
}

.edit-text-state .form-control {
    width: 60%;
    margin-left: 20%;
}

.edit-text-state .Select-control {
    width: 60%;
    margin: 5px 20%;
}

.edit-text-state .select-color {
    width: 60%;
    margin: 5px 20%;
}

.edit-text-state .Select-menu-outer {
    margin-left: 20%;
    width: 60%;
}

.edit-link-state .link-state-label-input {
    margin: 5px auto;
}

.edit-link-state .link-state-label-input input {
    display: inline-block;
    margin-left: 10px;
    width: 70%;
}

.edit-link-state .link-state-label-input select {
    display: inline-block;
    margin-left: 10px;
    width: 70%;
}


.edit-link-state .link-state-label-input button {
    display: inline-block;
    margin-left: 10px;
    width: 70%;
}



.edit-img-state .img-state-label-input {
    margin: 5px auto;
}

.edit-img-state .img-state-label-input input {
    display: inline-block;
    margin-left: 10px;
    width: 70%;
}

.edit-img-state .img-state-label-input .img-state-scale {
    width: 63%;
}

.select-color-modal {
    height: 100%;
}

.select-color-modal .modal-dialog {
    height: 100%;
    width: 400px;
}

.select-color-modal .modal-dialog .modal-content {
    margin-top: 200px;
    height: 200px;
}

.select-color-modal .modal-dialog .modal-content .modal-header {
    padding: 5px;
}

.select-color-page h5 {
    position: absolute;
    width: 70%;
    line-height: 34px;
    margin: auto;
    text-align: center;
}

.select-color-page .pull-right button {
    z-index: 2;
    margin: 0 5px;
}

.select-color-page .color-span {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.select-color-page input {
    display: inline-block;
    width: 100px;
}